<div class="content">
  {{#if frame}}
    <img class="preview" src="{{frame.url}}">
    <button class="print" disabled={{loop.isSuspended}} {{action 'print' bubbles=false}}>&nbsp;</button>
  {{/if}}
</div>
